@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

*::-webkit-scrollbar-track {
    background-color: transparent !important;
}
*::-webkit-scrollbar {
    width: 6px;
    height: 4px;

    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #494664;
    border-radius: 50px;
    height: 4px;
}

.home-carousel .carousel-slider {
    background-color: #1c183d;
}
.home-carousel .carousel-status {
    display: none;
}
.home-carousel .control-dots .dot.selected {
    background-color: #c4fd4a;
}
.home-carousel .carousel .slide img {
    width: 90% !important;
}



